<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {%load static%}
    <link rel="stylesheet" href="{% static 'css/stylingform.css' %}">
</head>

<body>
    <div class="container">
        <a href="/shows" class="right">Go Back</a>
        <h1>Add a New Show</h1>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <form method="post" action="/shows/create">
            {%csrf_token%}
            <p>Title:<br>
                <input type="text" name="title" class="title">
            </p>
            <div class="mid">
                <p>Network:<br>
                    <input type="text" name="network">
                </p>
                <p>Release Date:<br>
                    <input type="date" name="release_date">
                </p>
            </div>
            <p>Description:<br>
                <textarea name="desc" rows="4" cols="50"></textarea>
            </p>
            <button type="submit" class="btn">Create</button>
        </form>
    </div>
</body>

</html>